@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;700;900&family=Roboto:wght@700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;   
}

.header {
    font-size: 45px;
    font-weight: 900; 
}
.form {
    border: 5px solid #443385;
    border-radius: 4px;
    box-shadow: -10px 10px #E1E1FC;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem; 
}


.form__input, form__label {
    display: block;
}

.form__label {
    color: #5c29db;
    font-size: 1.1rem;
    font-weight: 700;
}

.form__input {
    border: none;
    outline: none;
    border-bottom: 3px solid black;
    padding-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.3rem;
}

.form__input:focus {
    border-color: #5c29db;
}

.form__btn {
    background-color: #443385;
    border: none;
    box-shadow: -8px 8px#E1E1FC;
    color: white;
    font-size: 1.9rem;
    font-weight: 700;
    padding: 2rem 0;
    margin: 2rem 0;
    transition: all 1s;
}

.form__btn:hover {
    background-color: #E1E1FC;
    cursor: pointer;
    /* vad, tid,  */
}